body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

/*navbar*/
.navbar {
    background-color: #404135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar img {
    height: 60px;
}

.navbar h1 {
    color: #97b3ad;
    font-size: 24px;
    margin: 0;
}

.navright a {
    text-decoration: none;
    color: #97b3ad;
    margin-left: 20px;
}

.navright a:hover {
    text-decoration: underline;
}
.navright img {
    height: 30px;
}


/*
#####################################
########### Style du login ##########
#####################################
 */
.login-page {

    margin: 0px;
    background-image: url("../img/bg-login.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}


.login-box {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 60vh;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    color: white;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #97b3ad;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #97b3ad;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #97b3ad;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #97b3ad,
    0 0 25px #97b3ad,
    0 0 50px #97b3ad,
    0 0 100px #97b3ad;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #97b3ad);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #97b3ad);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #97b3ad);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #97b3ad);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}


footer {
    background-color: #404135;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer * {
    padding: 3px;
}


.contact, .apropos {
    text-decoration: none;
    color: #97b3ad;
    margin: 10px;
    font-size: 18px;
}

.contact:hover, .apropos:hover {
    text-decoration: underline;
}


/*
#####################################
########### Style du aPropos ########
#####################################
 */

.apropos-page {
    margin: 0px;
    background-image: url("../img/bg-apropos.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}

.creator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;

}

.creator article {
    width: 30%;
    margin: 5vh;
    padding: 5vh;
    background-color: #97b3adc2;
    border-radius: 10px;
    box-shadow: 0 0 5px #97b3ad,
    0 0 25px #97b3ad,
    0 0 50px #97b3ad,
    0 0 100px #97b3ad;
}

.creator * {
    text-align: center;
}

.presentation {
    margin: 5vh;
    padding: 1vh;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    font-size: 2vh;
    color: white;

}

.creator img {
    border-radius: 100%;
    width: 30vh;
}

/*
#####################################
########### Style du Contact ########
#####################################
 */


.contact-page {
    margin: 0px;
    background-image: url("../img/hub-1985520_960_720.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
}


.contact-box {
    display: grid;
    grid-auto-flow: column dense;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
    justify-content: start;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    padding: 5px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;

    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, .5);

}

.box1 {
    justify-self: end;
    align-self: center;
    grid-area: 1 / 1 / 2 / 2;
}

.social-logos {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
}

.social-logos img {
    width: 35px;
    height: 35px;
}

.box2 {
    justify-self: start;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box2 form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #97b3ad;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.box2 a:hover {
    background: #97b3ad;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #97b3ad,
    0 0 25px #97b3ad,
    0 0 50px #97b3ad,
    0 0 100px #97b3ad;
}

.box2 a span {
    position: absolute;
    display: block;
}

.box2 a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #97b3ad);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.box2 a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #97b3ad);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.box2 a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #97b3ad);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.box2 a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #97b3ad);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.contact-box a {
    padding: 10px;
}

.mailmessage input[type="email"] {
    width: 375px;
    padding: 5px;
}

.mailmessage textarea {
    max-height: 225px;
    width: 375px;
    padding: 5px;
    resize: vertical;
    min-height: 225px;
}

.mailmessage input[type="submit"] {
    width: auto;
    padding: 8px 15px;
}

.formulairemessage {
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
}

.formulairemessage form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.formulairemessage input,
.formulairemessage textarea {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    width: calc(100% - 20px);
    resize: none;
}

.formulairemessage a {
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}


/*
#####################################
########### Style de l'acceuil ######
#####################################
 */


.titreAcceuil {
    text-align: center;
    color: #97b3ad;
    font-size: 3em;
    margin: 10px;
    padding: 0;
}

.banner {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.articleDiv {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: normal;
    text-align: center;
}

.articleDiv * {
    border-radius: 20px;
    background-color: #97b3adc2;
    padding: 20px;
}

.articleDiv article {
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #97b3adc2;
}

.articleDiv article p {
    margin: 10px 0;
}

.articleDiv article img {
    width: 60%; /* Redimensionne l'image pour remplir la largeur de l'article */
    height: auto; /* Ajuste la hauteur proportionnellement */
    border-radius: 10px; /* Coins arrondis pour l'image */
    margin-bottom: 10px; /* Espacement en bas de l'image */
}

.toutArticle {
    display: flex;
    justify-content: center;
    padding : 5vh;
    margin: 0;



}

.toutArticle span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.toutArticle svg {

    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.toutArticle:hover:before {
    width: 100%;
    background: #b1dae7;
}

.toutArticle:hover svg {
    transform: translateX(0);
}

.toutArticle:active {
    transform: scale(0.95);
}

/* Style général pour le bouton "Laisser un avis" */
.toutAvis {
    display: flex;
    justify-content: center;
    padding: 5vh;
    margin: 0;
}

.toutAvis span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.toutAvis svg {
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.toutAvis:hover:before {
    width: 100%;
    background: #b1dae7;
}

.toutAvis:hover svg {
    transform: translateX(0);
}

.toutAvis:active {
    transform: scale(0.95);
}


/*style du bouton de certaine page*/
.buttonstylerond {
    border: none;
    color: #fff;
    background-image: linear-gradient(228deg, #97B3AD, #CC8E6C);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

.buttonstylerond:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #97B3AD;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.profile-photo {
    width: 40px; /* Taille de l'image */
    height: 40px;
    border-radius: 50%; /* Forme ronde */
    object-fit: cover; /* S'assure que l'image s'ajuste correctement dans le carré */
}



